# Node Modules (jika kamu menggunakan npm)
node_modules/

# Files or directories created by editors
.DS_Store  # macOS Finder metadata
Thumbs.db  # Windows thumbnail cache

# Logs and temporary files
*.log
*.log.*

# Build output directories (jika kamu build proyek menggunakan tools)
dist/
build/

# Temporary files by editors
.vscode/
.idea/
*.swp
*.swo

# Package lock files (if not using npm)
package-lock.json
yarn.lock
